* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media (min-width: 100em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 24em) {
  html {
    font-size: 43.75%;
  }
}

body {
  font-family: "Merriweather", serif;
  line-height: 1;
  font-size: 300;
  background-color: #ea8267;
  max-height: 100vh;
}

.heading-container {
  text-align: center;
}

.heading-primary {
  display: inline-block;
  font-size: 5.2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 8rem;
  background-image: linear-gradient(to right, rgba(198, 42, 2, 0.9), rgba(224, 68, 27, 0.9));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media (max-width: 60em) {
  .heading-primary {
    font-size: 4.4rem;
  }
}
@media (max-width: 24em) {
  .heading-primary {
    font-size: 3.8rem;
    margin-bottom: 5rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.6rem;
  margin-top: 1.4rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(to right, rgba(218, 101, 80, 0.9), rgba(243, 126, 106, 0.9));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
}
@media (max-width: 24em) {
  .heading-secondary {
    font-size: 2.8rem;
    margin-top: 1rem;
  }
}
.heading-secondary::before {
  content: "";
  width: 2px;
  height: 6rem;
  background-color: #777;
  position: absolute;
  top: -7.5rem;
  left: 50%;
}
@media (max-width: 24em) {
  .heading-secondary::before {
    height: 3.5rem;
    top: -5rem;
  }
}
.heading-secondary--content {
  display: inline-block;
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(to right, rgba(218, 101, 80, 0.9), rgba(243, 126, 106, 0.9));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.heading-tertiary {
  font-size: 2.8rem;
  color: #1c2541;
  margin-bottom: 6rem;
}
@media (max-width: 24em) {
  .heading-tertiary {
    font-size: 2.2rem;
  }
}

.description {
  text-align: center;
}

.description--text {
  width: 80%;
  background-color: #ffffff;
  margin: auto;
  padding: 1.2rem 2rem;
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: "Nunito", sans-serif;
  border-radius: 9px;
  margin-bottom: 6rem;
  color: #1c2541;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 34em) {
  .description--text {
    width: 95%;
  }
}
@media (max-width: 24em) {
  .description--text {
    font-size: 1.6rem;
  }
}

.text-span {
  font-size: 2.2rem;
  font-weight: 600;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(198, 42, 2, 0.9), rgba(224, 68, 27, 0.9));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btn {
  border: none;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(218, 101, 80, 0.8), rgba(243, 126, 106, 0.8));
  padding: 1.6rem 2rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 2.2rem;
  font-family: "Nunito", sans-serif;
  border-radius: 9px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 3rem;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--check {
  margin-bottom: 0;
}

.checkbox {
  width: 65%;
  margin: auto;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 24em) {
  .checkbox {
    width: 75%;
  }
}

.guess {
  display: inline-block;
  padding: 1.6rem 2rem;
  outline: none;
  border: none;
  width: 12rem;
  height: 8rem;
  border-radius: 9px;
  font-size: 3.2rem;
  font-family: "Nunito", sans-serif;
  text-align: center;
  color: #1c2541;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.label-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 60em) {
  .label-container {
    flex-direction: column;
    gap: 2.4rem;
  }
}

.label-score, .label-highscore {
  font-size: 2.8rem;
  color: #1c2541;
}

.symbol-container {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
  margin-bottom: 6rem;
}
@media (max-width: 60em) {
  .symbol-container {
    width: 70%;
  }
}
@media (max-width: 48em) {
  .symbol-container {
    width: 60%;
  }
}
@media (max-width: 34em) {
  .symbol-container {
    width: 70%;
  }
}

.question-symbol {
  width: 8rem;
  height: 8rem;
  background-image: linear-gradient(to right bottom, rgba(198, 42, 2, 0.8), rgba(224, 68, 27, 0.8));
  border-radius: 9px;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.question-symbol::before {
  content: "";
  width: 6rem;
  height: 2px;
  background-color: #777;
  position: absolute;
  top: 50%;
  left: -7rem;
}
@media (max-width: 60em) {
  .question-symbol::before {
    visibility: hidden;
  }
}
.question-symbol:nth-child(3)::after {
  content: "";
  width: 6rem;
  height: 2px;
  background-color: #777;
  position: absolute;
  top: 50%;
  right: -7rem;
}
@media (max-width: 60em) {
  .question-symbol:nth-child(3)::after {
    visibility: hidden;
  }
}
.question-symbol span {
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 700;
}

.footer {
  padding: 1.6rem;
  padding-top: 0rem;
}

.footer-nav {
  background-image: linear-gradient(to right, rgba(243, 216, 157, 0.9), rgba(245, 221, 168, 0.9));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px;
  gap: 4rem;
  padding: 2rem;
}
@media (max-width: 34em) {
  .footer-nav {
    flex-direction: column;
  }
}

.footer-description {
  flex: 1;
  padding-left: 10rem;
  text-align: center;
}
@media (max-width: 34em) {
  .footer-description {
    padding-left: 0rem;
  }
}

.text-description {
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 0.8rem;
  color: #1c2541;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}

.udemy-link:link, .udemy-link:visited {
  display: inline-block;
  text-decoration: none;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid #c62a02;
  background-image: linear-gradient(to right, rgba(198, 42, 2, 0.8), rgba(224, 68, 27, 0.8));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0.4rem;
  transition: all 0.3s ease;
}
@media (max-width: 34em) {
  .udemy-link:link, .udemy-link:visited {
    font-size: 1.2rem;
  }
}
@media (max-width: 24em) {
  .udemy-link:link, .udemy-link:visited {
    font-size: 1.4rem;
  }
}
.udemy-link:hover, .udemy-link:active {
  border: none;
  transform: translateY(0.2rem);
}

.footer-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.footer__link {
  transition: all 0.3s ease;
}
.footer__link img {
  width: 4rem;
  height: 4rem;
}
.footer__link:hover {
  transform: translateY(-0.2rem);
}

.game {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.6rem;
}
@media (max-width: 48em) {
  .game {
    grid-template-columns: 1fr;
  }
}
.game--description {
  background-color: #f5dda8;
  border-radius: 9px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-block: 4rem;
}
@media (max-width: 48em) {
  .game--description {
    border-radius: 9px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.game--content {
  background-color: #f3d89d;
  border-radius: 9px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-block: 3.2rem;
}
@media (max-width: 48em) {
  .game--content {
    border-radius: 9px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.main-container {
  max-width: 130rem;
  background-color: rgba(28, 37, 65, 0.3);
  border-radius: 11px;
  margin: 4rem auto;
}
@media (max-width: 34em) {
  .main-container {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
