$color-body-background : #ea8267;
$color-main-background : #fefae0;

$color-bg-light : #f5dda8;
$color-bg-dark : #f3d89d;

$color-text-large : #e76f51;
$color-text-large-light : #ec8c74;
$color-text-large-dark : #b95941;

$font-primary : 'Merriweather',
serif;
$font-secondary : 'Nunito',
sans-serif;

$border-radius-large : 11px;
$border-radius-small : 9px;

$margin-bottom-lg : 8rem;
$margin-bottom-md : 6rem;
$margin-bottom-sm : 3rem;

$heading-bg-dark : #c62a02;
$heading-bg-light : #e0441b;

$color-secondary-dark : #da6550;
$color-secondary-light : #f37e6a;

$color-white : #ffffff;
$color-black : #000000;

// SHADOW
$box-shadow-hover : 0px 1rem 2rem rgba($color-black, 0.2);
$box-shadow-active : 0px 0.5rem 1rem rgba($color-black, 0.2);
$box-shadow-large : 0px 1.5rem 4rem rgba($color-black, 0.4);
$box-shadow-hover-large : 0px 2.5rem 5rem rgba($color-black, 0.5);
$box-shadow-light : 0 .5rem .5rem rgba($color-black, 0.1);