@use "../abstracts/" as *;
@use "../base/" as *;

.label-container {
    width: 80%;
    margin: 0 auto;
    // background-color: #fff;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @include respond-to('lg') {
        flex-direction: column;
        gap: 2.4rem;
    }
}

.label {

    &-score,
    &-highscore {
        font-size: 2.8rem;
        color: $color-text-description;
    }
}