@use "../abstracts/" as *;
@use "../base/" as *;

.symbol-container {
    // background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    margin-bottom: $margin-bottom-md;

    @include respond-to('lg') {
        width: 70%;
    }

    @include respond-to('md-2') {
        width: 60%;
    }

    @include respond-to('md-1') {
        width: 70%;
    }
}

.question-symbol {
    width: 8rem;
    height: 8rem;
    background-image: linear-gradient(to right bottom, rgba($heading-bg-dark, .8), rgba($heading-bg-light, .8));
    border-radius: $border-radius-small;
    box-shadow: $box-shadow-active;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before {
        content: "";
        width: 6rem;
        height: 2px;
        background-color: $color-text-light;
        position: absolute;
        top: 50%;
        left: -7rem;

        @include respond-to('lg') {
            visibility: hidden;
        }
    }

    &:nth-child(3) {
        &::after {
            content: "";
            width: 6rem;
            height: 2px;
            background-color: $color-text-light;
            position: absolute;
            top: 50%;
            right: -7rem;

            @include respond-to('lg') {
                visibility: hidden;
            }
        }
    }

    span {
        color: $color-white;
        font-size: 4.5rem;
        font-weight: 700;
    }
}