@use "../abstracts/" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @include respond-to('2xl') {
        font-size: 75%;
    }

    @include respond-to('xl') {
        font-size: 50%;
    }

    @include respond-to('sm') {
        font-size: 43.75%;
    }
}

body {
    font-family: $font-primary;
    line-height: 1;
    font-size: 300;
    background-color: $color-body-background;
    max-height: 100vh;
}