@use "../abstracts/" as *;
@use "../base/" as *;

.main-container {
    max-width: 130rem;
    height: 85vh;
    background-color: $color-main-background;
    border-radius: $border-radius-large;
    margin: 6rem auto;
}